*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

::selection {
  background-color: $clr-gray;
  color: $clr-white;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $clr-black;
}

header,
main,
footer {
  padding: 0 2rem;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}
