html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-tablet) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $clr-white;
}

.heading {
  font-weight: 900;

  &--primary {
    font-size: 9rem;
  }

  &--secondary {
    font-size: 4.8rem;
  }

  &--tertiary {
    font-size: 3.6rem;
  }
}

.paragraph {
  line-height: 1.6;

  &--lg {
    font-size: 3.2rem;
  }
}
