.u-container {
  max-width: 130rem;
  margin-inline: auto;
}

.u-margin-bottom-xs {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-md {
  margin-bottom: 3.6rem;
}

.u-margin-bottom-xl {
  margin-bottom: 6.4rem;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-block {
  display: block;
}
