/**********************/
/****** BASE *****/
/**********************/

:root {
  --clr-primary: #2c3e50;
  --clr-primary-light: #415162;
  --clr-primary-lightest: #eaecee;
  --clr-secondary: #27ae60;
  --clr-secondary-dark: #239d56;
  --clr-accent: #ff5733;
  --clr-charcoal: #333;
  --clr-light-gray: #f9f9f9;
  --clr-border: #d6d6d6;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-light-gray);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 90em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--clr-charcoal);
  background-color: var(--clr-light-gray);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/**********************/
/****** UTILITIES *****/
/**********************/

.u-container {
  max-width: 120rem;
  margin-inline: auto;
}

.u-width-full {
  width: 100%;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-md {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 3.6rem;
}

.u-margin-bottom-xl {
  margin-bottom: 4.8rem;
}

/**********************/
/****** TYPOGRAPHY *****/
/**********************/

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--clr-primary);
}

.heading--primary {
  font-size: 4.8rem;
  line-height: 1;
}

.heading--secondary {
  font-size: 3.6rem;
  line-height: 1.4;
}

/**********************/
/****** LAYOUT *****/
/**********************/

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

@media screen and (max-width: 90em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 75em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}

/**********************/
/****** HEADER *****/
/**********************/
.header {
  padding: 6rem 2rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**********************/
/****** NAVIGATION *****/
/**********************/
.navigation__list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

/**********************/
/****** LINKS *****/
/**********************/

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.link--brand:link,
.link--brand:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  color: var(--clr-primary);
}

.link--navigation:link,
.link--navigation:visited {
  background: linear-gradient(var(--clr-secondary), var(--clr-secondary))
    no-repeat left bottom;
  background-size: 0 1px;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.link--navigation:hover,
.link--navigation:active {
  color: var(--clr-secondary);
  background-size: 100% 1px;
}

/**********************/
/****** BUTTONS *****/
/**********************/

.btn:link,
.btn:visited {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn--primary:link,
.btn--primary:visited {
  color: var(--clr-light-gray);
  background-color: var(--clr-primary);
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--clr-primary-light);
}

.btn--secondary:link,
.btn--secondary:visited {
  color: var(--clr-light-gray);
  background-color: var(--clr-secondary);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--clr-secondary-dark);
}

/**********************/
/****** SECTIONS *****/
/**********************/

.section {
  padding: 4.8rem 0;
}

.section__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-accent);
  text-transform: uppercase;
}

.section__label::before {
  content: "";
  display: block;
  height: 1px;
  width: 4rem;
  background-color: var(--clr-accent);
}

/**********************/
/****** HERO *****/
/**********************/

.hero__text-box {
  max-width: 100rem;
  margin: 0 auto 6.4rem;
  text-align: center;
}

.hero__img {
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
}

.hero__awards {
  background-color: var(--clr-primary);
  padding: 4rem 0;
}

.award {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--clr-light-gray);
}

.award__icon {
  font-size: 8.4rem;
  color: var(--clr-secondary);
}

/**********************/
/****** ABOUT *****/
/**********************/

.section--about {
  border-bottom: 1px solid var(--clr-border);
}

.metric__stats {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.metric__stat {
  font-weight: 800;
  font-size: 4rem;
  color: var(--clr-accent);
}

.metric__caption {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.about__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.about__image--1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.about__image--2 {
  grid-column: 2 / -1;
  grid-row: 1;
}

/**********************/
/****** PRICING *****/
/**********************/

.pricing {
  padding: 4rem;
  border-radius: 6px;
  border: 1px solid var(--clr-border);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pricing:hover {
  transform: translateY(-1rem);
}

.pricing__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.pricing__price {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-border);
}

.pricing__value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--clr-primary);
}

.pricing__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  margin-bottom: 3.6rem;
}

.pricing__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pricing__icon {
  font-size: 2.4rem;
  color: var(--clr-secondary);
  flex-shrink: 0;
}

.pricing--recommended {
  background-color: var(--clr-primary);
  color: var(--clr-light-gray);
  border: 1px solid transparent;
}

.pricing--recommended .pricing__value {
  color: var(--clr-light-gray);
}

/**********************/
/****** FAQ *****/
/**********************/

.faqs,
.contact {
  background-color: var(--clr-primary-lightest);
  padding: 4rem;
  border-radius: 6px;
}

.faqs__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.faqs__item {
  border-top: 1px solid var(--clr-border);
  display: flex;
  gap: 2.4rem;
  padding-top: 2.4rem;
}

.faqs__question {
  flex: 0 0 40%;
  font-weight: 700;
  color: var(--clr-primary);
}

.faqs__answer {
  flex: 0 0 60%;
}

/**********************/
/****** SPOTLIGHT *****/
/**********************/

.spotlight {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 10vw);
  gap: 1.6rem;
}

.spotlight__item {
  overflow: hidden;
  cursor: pointer;
}

.spotlight__item--1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.spotlight__item--2 {
  grid-row: 1;
  grid-column: 3 / 4;
}

.spotlight__item--3 {
  grid-row: 1;
  grid-column: 4 / -1;
}

.spotlight__item--4 {
  grid-row: 2;
  grid-column: 3 / 4;
}

.spotlight__item--5 {
  grid-row: 2;
  grid-column: 4 / -1;
}

.spotlight__item--6 {
  grid-row: 3;
  grid-column: 1 / 2;
}

.spotlight__item--7 {
  grid-row: 3;
  grid-column: 2 / 3;
}

.spotlight__item--8 {
  grid-row: 4;
  grid-column: 1 / 2;
}

.spotlight__item--9 {
  grid-row: 4;
  grid-column: 2 / 3;
}

.spotlight__item--10 {
  grid-row: 3 / -1;
  grid-column: 3 / -1;
}

.spotlight__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.spotlight__img:hover {
  transform: scale(1.1);
}

/**********************/
/****** CONTACT *****/
/**********************/

.contact__info {
  display: flex;
  gap: 2.4rem;
  max-width: 80rem;
  margin: 0 auto;
}

.contact__card {
  background-color: var(--clr-primary);
  color: var(--clr-light-gray);
  padding: 1rem 1.5rem;
  border-radius: 4px;
  flex: 0 0 50%;
}

.contact__title {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.contact__icon {
  color: var(--clr-secondary);
  font-size: 1.6rem;
}

/**********************/
/****** FOOTER *****/
/**********************/
.footer {
  padding: 6rem 2rem;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socials {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--clr-primary);
  transition: color 0.3s ease;
}

.footer__link:hover,
.footer__link:active {
  color: var(--clr-secondary);
}
