*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

::selection {
  background-color: $clr-white;
  color: $clr-black;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $clr-gray;
}

::-webkit-scrollbar-thumb {
  background: $clr-yellow;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: none;
}

html.active {
  overflow-y: hidden;
}

body {
  box-sizing: border-box;
  background-color: $clr-black;
  color: $clr-white;
  padding: 2rem;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  min-height: 100vh;
  overflow-x: hidden;
}

body.active {
  overflow-y: hidden;
}

img,
iframe {
  max-width: 100%;
  display: block;
}

img {
  pointer-events: none;
}
