*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

*:focus-visible {
  box-shadow: 0 0 0 4px rgba($clr-white, 0.5);
  outline: none;
}

::selection {
  color: $clr-black;
  background-color: $clr-white;
}

body {
  box-sizing: border-box;
  background-color: $clr-black;
  padding: 2rem;
  overscroll-behavior: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
