*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background-color: $clr-white;
  color: $clr-black;
}

body {
  box-sizing: border-box;
  background-color: $clr-black;
  color: $clr-white;
  padding: 0 2rem;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  min-height: 100vh;
}

img,
iframe {
  max-width: 100%;
  display: block;
}
