@font-face {
  font-family: "Boucherie Block";
  src: url(../../assets/fonts/boucherie-block.ttf);
}

@font-face {
  font-family: "Maru Gothic";
  src: url(../../assets/fonts/maru-gothic.ttf);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Maru Gothic", sans-serif;
  font-size: 1.8rem;
  color: $clr-white;
}

.heading {
  font-family: "Boucherie Block", sans-serif;

  &--primary {
    font-size: 16rem;
    line-height: 1.2;

    &--main,
    &--sub {
      display: block;
    }

    &--main {
      animation: slideInLeft 1s ease-out;
    }

    &--sub {
      animation: slideInRight 1s ease-out;
    }
  }

  &--secondary {
    font-size: 10rem;
    line-height: 1;
  }
}
