*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

::selection {
  color: $clr-white;
  background-color: $clr-primary;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $clr-white;
  color: $clr-charcoal;
}

img,
video,
svg,
picture {
  max-width: 100%;
  display: block;
}
