.u-container {
  max-width: 120rem;
  margin-inline: auto;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-md {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 3.6rem;
}
