.section {
  position: relative;
  padding: 3.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &--padded {
    padding-top: 12rem;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about__img {
  box-shadow: -5rem -5rem 0 -4rem $clr-gray, 5rem 5rem 0 -4rem $clr-gray;
}
