.panels {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  overscroll-behavior: none;
}

.section {
  position: relative;
  padding: 0 3.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &--videos {
    padding-top: 16rem;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about__img {
  box-shadow: -5rem -5rem 0 -4rem $clr-gray, 5rem 5rem 0 -4rem $clr-gray;
}
