.panels {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  overscroll-behavior: none;
}

.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__text-box {
    &--centered {
      @include positionCentered;
    }
  }

  &--videos {
    padding-top: 16rem;
  }
}
