html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $clr-gray-dark;
}

.label-text {
  font-weight: 700;
  color: $clr-green;
  display: block;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  &--primary {
    font-size: 4.4rem;
    line-height: 1.2;
  }
}

.paragraph {
  line-height: 1.4;
  color: $clr-gray-light;
}
