.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    padding: 1.2rem 2.4rem;
    border: 1px solid currentColor;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  &:hover,
  &:active {
    transform: translateY(-1rem);
  }

  &__icon {
    transition: transform 0.3s ease;
  }

  &:hover .btn__icon {
    transform: translateX(0.5rem);
  }
}

@media (prefers-color-scheme: light) {
  .btn {
    &:hover,
    &:active {
      background-color: $clr-black;
      color: $clr-white;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    &:hover,
    &:active {
      background-color: $clr-white;
      color: $clr-black;
    }
  }
}
