.card {
  position: relative;
  border: 1px solid $clr-gray;
  border-radius: 4px;
  overflow: hidden;

  // &:hover {
  //   .card__title {

  //   }
  // }

  &__img {
    max-width: 100%;
  }

  &__body {
    padding: 1.6rem;
  }

  &__label {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid;

    &--fem {
      background-color: $clr-fem-light;
      color: $clr-fem;
      border-radius: 4px;
      border-color: $clr-fem;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
    margin-bottom: 1.6rem;
  }

  &__tag {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 2.4rem;
    color: currentColor;
    margin-bottom: 2.4rem;
  }

  &__btns {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.6rem;
  }

  &__btn {
    &,
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      padding: 1rem 1.2rem;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
    }

    &--solid {
      flex: 0 0 70%;

      &:hover {
        & .card__btn__icon {
          transform: translateX(0.4rem);
        }
      }
    }

    &--outline {
      flex: 0 0 20%;
    }

    &__icon {
      transition: transform 0.3s ease;
    }
  }
}

@media (prefers-color-scheme: light) {
  .card__tag {
    &--html {
      color: $clr-html-light;
      background-color: $clr-html-dark;
    }

    &--css {
      color: $clr-css-light;
      background-color: $clr-css-dark;
    }

    &--js {
      color: $clr-js-light;
      background-color: $clr-js-dark;
    }

    &--sass {
      color: $clr-sass-light;
      background-color: $clr-sass-dark;
    }

    &--react {
      color: $clr-react-light;
      background-color: $clr-react-dark;
    }
  }

  .card__btn {
    &--solid {
      &,
      &:link,
      &:visited {
        background-color: $clr-black;
        color: $clr-white;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card__tag {
    &--html {
      color: $clr-html-dark;
      background-color: $clr-html-light;
    }

    &--css {
      color: $clr-css-dark;
      background-color: $clr-css-light;
    }

    &--js {
      color: $clr-js-dark;
      background-color: $clr-js-light;
    }

    &--sass {
      color: $clr-sass-dark;
      background-color: $clr-sass-light;
    }

    &--react {
      color: $clr-react-dark;
      background-color: $clr-react-light;
    }
  }

  .card__btn {
    &--solid {
      &,
      &:link,
      &:visited {
        background-color: $clr-white;
        color: $clr-black;
      }
    }

    &--outline {
      &,
      &:link,
      &:visited {
        color: $clr-white;
        box-shadow: 0 0 0 1px inset $clr-white;
      }

      &:hover,
      &:active {
        color: $clr-black;
        background-color: $clr-white;
      }
    }
  }
}
