.list {
  list-style-position: inside;

  &--inline {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      font-weight: 600;
      font-size: 1.2rem;
      padding: 0.6rem 1.2rem;
      border-radius: 8px;
    }
  }

  &__item {
    max-width: 75ch;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 600;
      text-decoration: none;
      color: inherit;
      @include hoverEffect;
    }

    &:hover,
    &:active {
      background-size: 100% 1px;
    }

    &--social {
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
        transition: transform 0.3s ease;
      }

      &:hover i,
      &:active i {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }

  &--social {
    display: flex;
    gap: 2.4rem;
  }
}

@media (prefers-color-scheme: light) {
  .list--inline__item {
    color: $clr-white;
    background-color: $clr-black;
  }

  .list__description {
    color: $clr-gray-dark;
  }
}

@media (prefers-color-scheme: dark) {
  .list--inline__item {
    color: $clr-black;
    background-color: $clr-white;
  }

  .list__description {
    color: $clr-gray-light;
  }
}
