.navigation {
  position: fixed;
  right: 0;
  padding-right: 3.6rem;

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__btn {
    @include hoverEffect;
    cursor: pointer;
    border: none;

    &:hover {
      background-size: 100% 1px;
    }

    &--active {
      background-size: 100% 1px;
    }
  }
}
