.navigation {
  position: absolute;
  padding-left: 6rem;

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      color: inherit;
      background: linear-gradient(currentcolor, currentcolor) no-repeat bottom
        left;
      background-size: 0% 1px;
      transition: background-size 0.3s ease;
    }

    &:hover,
    &:active {
      background-size: 100% 1px;
    }
  }
}
