.header {
  padding: 4rem 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &:link,
    &:visited {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      text-decoration: none;
      color: $clr-blue;
    }
  }
}
