@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

:root {
  color-scheme: light dark; }

::-webkit-scrollbar {
  width: 0.5rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #495057; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(173, 181, 189, 0.6); }

html {
  scrollbar-gutter: stable; }

body {
  box-sizing: border-box;
  padding: 6rem 2rem; }
  @media screen and (max-width: 56.25em) {
    body {
      padding: 4rem 2rem; } }
  @media screen and (max-width: 25em) {
    body {
      padding: 2rem; } }

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: #212529;
    color: #fdfdff; }
  body {
    background-color: #fdfdff;
    color: #212529; } }

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #fdfdff;
    color: #212529; }
  body {
    background-color: #212529;
    color: #fdfdff; } }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  line-height: 1; }
  .heading--primary {
    font-size: 3.6rem; }
  .heading--secondary {
    display: inline-block;
    font-size: 2.4rem;
    padding: 1.2rem 2.4rem;
    border: 1px solid currentColor;
    border-radius: 4px; }
  .heading--tertiary {
    font-size: 2rem; }

.paragraph {
  max-width: 80ch; }

@media (prefers-color-scheme: light) {
  .paragraph {
    color: #495057; } }

@media (prefers-color-scheme: dark) {
  .paragraph {
    color: #adb5bd; } }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.u-margin-bottom-lg {
  margin-bottom: 3.6rem; }

.u-margin-bottom-xl {
  margin-bottom: 5.2rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  padding: 1.2rem 2.4rem;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: all 0.3s ease; }

.btn:hover, .btn:active {
  transform: translateY(-1rem); }

.btn__icon {
  transition: transform 0.3s ease; }

.btn:hover .btn__icon {
  transform: translateX(0.5rem); }

@media (prefers-color-scheme: light) {
  .btn:hover, .btn:active {
    background-color: #212529;
    color: #fdfdff; } }

@media (prefers-color-scheme: dark) {
  .btn:hover, .btn:active {
    background-color: #fdfdff;
    color: #212529; } }

.card {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  overflow: hidden; }
  .card__img {
    max-width: 100%; }
  .card__body {
    padding: 1.6rem; }
  .card__label {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid; }
    .card__label--fem {
      background-color: #eceef6;
      color: #3e54a3;
      border-radius: 4px;
      border-color: #3e54a3; }
  .card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
    margin-bottom: 1.6rem; }
  .card__tag {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 4px; }
  .card__title {
    font-weight: 700;
    font-size: 2.4rem;
    color: currentColor;
    margin-bottom: 2.4rem; }
  .card__btns {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.6rem; }
  .card__btn, .card__btn:link, .card__btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 1.2rem;
    border-radius: 4px;
    transition: all 0.3s ease-in-out; }
  .card__btn--solid {
    flex: 0 0 70%; }
    .card__btn--solid:hover .card__btn__icon {
      transform: translateX(0.4rem); }
  .card__btn--outline {
    flex: 0 0 20%; }
  .card__btn__icon {
    transition: transform 0.3s ease; }

@media (prefers-color-scheme: light) {
  .card__tag--html {
    color: #fcede9;
    background-color: #722613; }
  .card__tag--css {
    color: #eeecf2;
    background-color: #221832; }
  .card__tag--js {
    color: #fefcef;
    background-color: #48431b; }
  .card__tag--sass {
    color: #f6ebf1;
    background-color: #42182d; }
  .card__tag--react {
    color: #e8f5fa;
    background-color: #083f51; }
  .card__btn--solid, .card__btn--solid:link, .card__btn--solid:visited {
    background-color: #212529;
    color: #fdfdff; } }

@media (prefers-color-scheme: dark) {
  .card__tag--html {
    color: #722613;
    background-color: #fcede9; }
  .card__tag--css {
    color: #221832;
    background-color: #eeecf2; }
  .card__tag--js {
    color: #48431b;
    background-color: #fefcef; }
  .card__tag--sass {
    color: #42182d;
    background-color: #f6ebf1; }
  .card__tag--react {
    color: #083f51;
    background-color: #e8f5fa; }
  .card__btn--solid, .card__btn--solid:link, .card__btn--solid:visited {
    background-color: #fdfdff;
    color: #212529; }
  .card__btn--outline, .card__btn--outline:link, .card__btn--outline:visited {
    color: #fdfdff;
    box-shadow: 0 0 0 1px inset #fdfdff; }
  .card__btn--outline:hover, .card__btn--outline:active {
    color: #212529;
    background-color: #fdfdff; } }

.header .paragraph {
  max-width: 50ch; }

.list {
  list-style-position: inside; }
  .list--inline {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    flex-wrap: wrap; }
    .list--inline__item {
      font-weight: 600;
      font-size: 1.2rem;
      padding: 0.6rem 1.2rem;
      border-radius: 4px; }
  .list__item {
    max-width: 75ch; }
    .list__item:not(:last-child) {
      margin-bottom: 2.4rem; }
  .list__link:link, .list__link:visited {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(currentcolor, currentcolor) no-repeat bottom left;
    background-size: 0% 1px;
    transition: background-size 0.3s ease; }
  .list__link:hover, .list__link:active {
    background-size: 100% 1px; }
  .list__link--social:link, .list__link--social:visited {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease; }
  .list__link--social:hover i,
  .list__link--social:active i {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }
  .list--social {
    display: flex;
    gap: 2.4rem; }

@media (prefers-color-scheme: light) {
  .list--inline__item {
    color: #fdfdff;
    background-color: #212529; }
  .list__description {
    color: #495057; } }

@media (prefers-color-scheme: dark) {
  .list--inline__item {
    color: #212529;
    background-color: #fdfdff; }
  .list__description {
    color: #adb5bd; } }

.navigation {
  position: fixed;
  right: 0;
  padding-right: 3.6rem; }
  @media screen and (max-width: 56.25em) {
    .navigation {
      position: static;
      margin-bottom: 3.6rem;
      padding-right: 0; } }
  .navigation__list {
    list-style: none; }
    @media screen and (max-width: 56.25em) {
      .navigation__list {
        display: flex;
        gap: 2.4rem;
        justify-content: flex-end; } }
    @media screen and (max-width: 25em) {
      .navigation__list {
        justify-content: center; } }
  .navigation__item:not(:last-child) {
    margin-bottom: 0.5rem; }
  .navigation__btn {
    background: linear-gradient(currentcolor, currentcolor) no-repeat bottom left;
    background-size: 0% 1px;
    transition: background-size 0.3s ease;
    cursor: pointer;
    border: none; }
    .navigation__btn:hover {
      background-size: 100% 1px; }
    .navigation__btn--active {
      background-size: 100% 1px; }

.grid {
  display: grid;
  gap: 2.4rem; }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr); }

.section {
  padding: 5.2rem 0;
  display: none; }
  .section.active {
    display: block; }
  @media screen and (max-width: 56.25em) {
    .section {
      padding: 5.2rem 0 3.6rem; } }
