.section {
  padding: 8.4rem 2rem;

  @media screen and (max-width: $bp-medium) {
    padding: 4.8rem 2rem;
  }
}

.hero {
  &__info {
    @media screen and (max-width: $bp-tablet) {
      order: 2;
      text-align: center;
    }
  }

  &__links,
  &__skills {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @media screen and (max-width: $bp-tablet) {
      justify-content: center;
    }
  }

  &__icon {
    height: 3.6rem;
    width: 3.6rem;
  }

  &__img-box {
    justify-self: center;

    @media screen and (max-width: $bp-tablet) {
      order: 1;
    }
  }

  &__img {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

.blog,
.contact {
  background-color: $clr-primary-lightest;
}
