:root {
  color-scheme: light dark;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-gray-dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba($clr-gray-light, 0.6);
}

html {
  scrollbar-gutter: stable;
}

body {
  box-sizing: border-box;
  padding: 6rem 2rem;

  @media screen and (max-width: $bp-lg) {
    padding: 4rem 2rem;
  }

  @media screen and (max-width: $bp-sm) {
    padding: 2rem;
  }
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: $clr-black;
    color: $clr-white;
  }

  body {
    background-color: $clr-white;
    color: $clr-black;
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: $clr-white;
    color: $clr-black;
  }

  body {
    background-color: $clr-black;
    color: $clr-white;
  }
}
