$clr-gray: #f8f9fa;
$clr-gray-light: #495057;
$clr-gray-dark: #212529;

$clr-green: #666538;
$clr-green-light: #f0f0eb;

$clr-red: #ad4d4d;
$clr-red-light: #efdbdb;

$clr-orange: #f98638;
$clr-orange-light: #fef3eb;
$clr-purple: #9b81b0;
$clr-purple-light: #fcf8ff;
$clr-yellow: #8c7a49;
$clr-yellow-light: #fdfaf2;
