.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.2s ease;
  }

  &:active {
    transform: scale(0.9);
  }

  &--solid {
    &:link,
    &:visited {
      color: $clr-white;
      background-color: $clr-primary;
    }

    &:hover {
      background-color: $clr-primary-light;
    }
  }

  &--outline {
    &:link,
    &:visited {
      color: $clr-primary;
      box-shadow: 0 0 0 1px inset $clr-primary;
    }

    &:hover {
      color: $clr-white;
      background-color: $clr-primary;
    }
  }
}
