.service {
  &__icon {
    height: 3.2rem;
    width: 3.2rem;
    color: $clr-primary;
    padding: 1.6rem;
    background-color: $clr-primary-lightest;
    border-radius: 50%;
    margin-bottom: 2.4rem;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
}
