// COLORS

// Neutral
$clr-black: #212529;
$clr-white: #fdfdff;
$clr-gray: #dee2e6;
$clr-gray-dark: #495057;
$clr-gray-light: #adb5bd;

// Main
$clr-primary: #62929e;
$clr-primary-light: #729da8;
$clr-primary-dark: #4e757e;

// Programming languages

$clr-html: #e34c26;
$clr-css: #563d7c;
$clr-sass: #a53b70;
$clr-js: #f1e05a;

// Breakpoints
$bp-lg: 56.25em;
$bp-sm: 25em;
