// COLORS

// Neutral
$clr-black: #212529;
$clr-white: #fdfdff;
$clr-gray: #dee2e6;
$clr-gray-dark: #495057;
$clr-gray-light: #adb5bd;

// Main
$clr-primary: #62929e;
$clr-primary-light: #729da8;
$clr-primary-dark: #4e757e;

// Programming languages
$clr-html: #e34c26;
$clr-html-light: #fcede9;
$clr-html-dark: #722613;
$clr-css: #563d7c;
$clr-css-light: #eeecf2;
$clr-css-dark: #221832;
$clr-sass: #a53b70;
$clr-sass-light: #f6ebf1;
$clr-sass-dark: #42182d;
$clr-js: #f1e05a;
$clr-js-light: #fefcef;
$clr-js-dark: #48431b;
$clr-react: #149eca;
$clr-react-light: #e8f5fa;
$clr-react-dark: #083f51;

// Challenges
$clr-fem: #3e54a3;
$clr-fem-light: #eceef6;

// Breakpoints
$bp-lg: 56.25em;
$bp-sm: 25em;
