// COLORS

// Neutral
$clr-black: #212529;
$clr-white: #fdfdff;
$clr-gray: #dee2e6;
$clr-gray-dark: #495057;
$clr-gray-light: #adb5bd;

// Main
$clr-primary: #62929e;
$clr-primary-light: #729da8;
$clr-primary-dark: #4e757e;
