*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333; }

img,
video,
svg,
picture {
  max-width: 100%;
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }
  .heading--primary {
    font-size: 4.8rem;
    line-height: 1; }

.u-container {
  max-width: 120rem;
  margin-inline: auto; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.u-margin-bottom-lg {
  margin-bottom: 3.6rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-radius: 100px;
  transition: all 0.2s ease; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--primary:link, .btn--primary:visited {
  color: #fff;
  background-color: #8e44ad; }

.header {
  padding: 4rem 2rem; }
  .header__content {
    display: flex;
    justify-content: flex-end; }

.navigation {
  list-style: none;
  display: flex;
  gap: 2.4rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none; }

.grid {
  display: grid; }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr); }

.section {
  padding: 8.4rem 2rem; }

.hero__img-box {
  justify-self: center; }

.hero__img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%; }
