*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

body {
  box-sizing: border-box; }

img,
video,
svg,
picture {
  display: block;
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }
  .heading--primary {
    line-height: 1; }
    .heading--primary--sub, .heading--primary--main {
      display: block; }
    .heading--primary--sub, .heading--primary--year {
      font-size: 1.2rem; }
    .heading--primary--main {
      font-size: 6.4rem;
      text-transform: uppercase; }
    .heading--primary--year {
      display: inline-block;
      transform: rotate(90deg); }

.u-container {
  max-width: 120rem;
  margin-inline: auto; }

.u-width-full {
  width: 100%; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-radius: 100px;
  transition: all 0.2s ease; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--primary:link, .btn--primary:visited {
  color: #fff;
  background-color: #eb822f; }

.grid {
  display: grid; }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr); }

.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/img-hero.webp);
  background-size: cover; }

.about__img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 50%; }
