*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

::selection {
  color: #fff;
  background-color: #8e44ad; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: #fff;
  color: #333; }

img,
video,
svg,
picture {
  max-width: 100%;
  display: block; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 34.375em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }
  .heading--primary {
    font-size: 4.8rem;
    line-height: 1.2; }
    @media screen and (max-width: 34.375em) {
      .heading--primary {
        font-size: 4rem; } }
  .heading--secondary {
    font-size: 3.6rem; }
    @media screen and (max-width: 34.375em) {
      .heading--secondary {
        font-size: 3rem; } }

.paragraph {
  color: #5c5c5c; }

.u-container {
  max-width: 120rem;
  margin-inline: auto; }

.u-width-full {
  width: 100%; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.u-margin-bottom-lg {
  margin-bottom: 3.6rem; }

.u-margin-bottom-xl {
  margin-bottom: 4.8rem; }

.u-margin-bottom-2xl {
  margin-bottom: 6.4rem; }

.article {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.4rem; }
  .article__img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1.6rem; }
  .article__date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #5c5c5c;
    margin-bottom: 2.4rem; }
  .article__icon {
    font-size: 1.8rem; }
  .article__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 2.4rem; }
  .article--work {
    display: flex;
    align-items: center;
    gap: 2.4rem; }
    @media screen and (max-width: 46.875em) {
      .article--work {
        flex-direction: column; } }
    .article--work__img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-radius: 8px;
      flex: 0 0 30%; }
    .article--work:not(:last-child) {
      padding-bottom: 2.4rem;
      border-bottom: 1px solid #c2c2c2; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-radius: 12px;
  transition: all 0.2s ease; }

.btn:active {
  transform: scale(0.9); }

.btn--solid:link, .btn--solid:visited {
  color: #fff;
  background-color: #8e44ad; }

.btn--solid:hover {
  background-color: #a569bd; }

.btn--outline:link, .btn--outline:visited {
  color: #8e44ad;
  box-shadow: 0 0 0 1px inset #8e44ad; }

.btn--outline:hover {
  color: #fff;
  background-color: #8e44ad; }

.fieldset {
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  padding: 2.4rem 3.6rem; }
  .fieldset__legend {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    padding: 0 1.6rem; }
    @media screen and (max-width: 34.375em) {
      .fieldset__legend {
        font-size: 3rem; } }
  .fieldset__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }

.footer {
  padding: 4rem 2rem; }
  .footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 1rem; }
  .footer__link:link, .footer__link:visited {
    font-size: 2.4rem;
    color: #8e44ad;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease; }
  .footer__link:hover, .footer__link:active {
    transform: translateY(-0.5rem); }
  .footer__copyright {
    font-size: 1.2rem;
    color: #5c5c5c; }

.header {
  padding: 4rem 2rem; }
  .header__content {
    display: flex;
    justify-content: flex-end; }
    @media screen and (max-width: 34.375em) {
      .header__content {
        justify-content: center; } }

.navigation {
  list-style: none;
  display: flex;
  gap: 2.4rem; }
  .navigation__link:link, .navigation__link:visited {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(#8e44ad, #8e44ad) no-repeat bottom left;
    background-size: 0% 2px;
    padding-bottom: 0.5rem;
    transition: all 0.3s ease; }
  .navigation__link:hover, .navigation__link:active {
    color: #8e44ad;
    background-size: 100% 2px; }

.service__icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #8e44ad;
  padding: 1.6rem;
  background-color: #f4ecf7;
  border-radius: 50%;
  margin-bottom: 2.4rem; }

.service__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.2rem; }

.grid {
  display: grid; }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    @media screen and (max-width: 46.875em) {
      .grid--2-cols {
        grid-template-columns: 1fr;
        gap: 4.8rem; } }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.6rem; }
    @media screen and (max-width: 46.875em) {
      .grid--3-cols {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 34.375em) {
      .grid--3-cols {
        grid-template-columns: 1fr; } }
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem; }
    @media screen and (max-width: 46.875em) {
      .grid--4-cols {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 34.375em) {
      .grid--4-cols {
        grid-template-columns: 1fr; } }

.section {
  padding: 8.4rem 2rem; }
  @media screen and (max-width: 34.375em) {
    .section {
      padding: 4.8rem 2rem; } }

@media screen and (max-width: 46.875em) {
  .hero__info {
    order: 2;
    text-align: center; } }

.hero__links, .hero__skills {
  display: flex;
  align-items: center;
  gap: 2.4rem; }
  @media screen and (max-width: 46.875em) {
    .hero__links, .hero__skills {
      justify-content: center; } }

.hero__icon {
  height: 3.6rem;
  width: 3.6rem; }

.hero__img-box {
  justify-self: center; }
  @media screen and (max-width: 46.875em) {
    .hero__img-box {
      order: 1; } }

.hero__img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%; }

.blog,
.contact {
  background-color: #f4ecf7; }
