@mixin linkReset {
  text-decoration: none;
  color: $clr-white;
  display: inline-block;
}

@mixin linkBaseStyle {
  background: linear-gradient($clr-white, $clr-white);
  background-repeat: no-repeat;
  padding-bottom: 0.5rem;
  transition: background-size 0.5s ease-out;
}
