.btn {
  cursor: pointer;

  &:link,
  &:visited {
    display: inline-flex;
    text-decoration: none;
  }

  &__icon {
    font-size: 2.4rem;
  }

  &--navigation {
    padding: 1.6rem;
    border: none;
    border-radius: 50%;
    background-color: $clr-white;
    z-index: 1;

    &__icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 1.6rem;
        height: 2px;
        background-color: $clr-black;
        display: inline-block;
        transition: all 0.2s;
      }

      & {
        top: 0.8rem;
        background-color: transparent;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.4rem;
      }

      &::after {
        top: 0.4rem;
      }
    }
  }

  &--down {
    &:link,
    &:visited {
      font-size: 2.4rem;
      padding: 1.6rem;
      border-radius: 50%;
      color: $clr-white;
      transition: all 0.3s ease;
      animation: bounce infinite 4s ease;
      animation-direction: alternate;
    }

    &:hover,
    &:active {
      color: $clr-black;
      background-color: $clr-white;
    }
  }

  &--outline {
    background: transparent;
    color: $clr-white;
    padding: 1rem;
    border: 1px solid $clr-white;
    transition: all 0.3s ease;

    &:hover {
      color: $clr-black;
      background-color: $clr-white;
    }
  }
}
