.footer {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    &:link,
    &:visited {
      @include linkReset;
      font-family: "Gilda Display", serif;
      font-size: 3rem;
      flex: 0 0 20%;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-yellow;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__item {
    padding: 0.4rem;
    background-color: $clr-white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: $clr-black;
    }
  }
}
