.form {
  &__label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: 1px solid $clr-white;
    background-color: transparent;
    color: $clr-white;
    padding: 1rem 2rem;
  }

  & .btn--outline {
    display: block;
    margin-left: auto;
  }
}

textarea.form__input {
  resize: none;
}
