.gallery {
  &__item {
    &--vid {
      width: 60rem;
      height: 40rem;
      margin-bottom: 2.4rem;
    }

    &__title {
      font-size: 2rem;
      text-align: center;
    }
  }

  &__photo {
    width: 25%;
    margin-bottom: 1rem;
  }

  &__img {
    object-fit: cover;
    border-radius: 6px;
    filter: grayscale(100%);

    &--sm {
      height: 20rem;
    }

    &--md {
      height: 40rem;
    }

    &--lg {
      height: 60rem;
    }
  }
}

.swiper-slide {
  width: 60rem;
}
