.gallery {
  padding-bottom: 2rem;

  &__item {
    width: 24%;
    margin-bottom: 1rem;
    border-radius: 6px;
    overflow: hidden;

    @media screen and (max-width: $bp-lg) {
      width: 48%;
    }

    @media screen and (max-width: $bp-xs) {
      width: 100%;
      height: 30rem;
    }

    &--300 {
      height: 30rem;
    }

    &--400 {
      height: 40rem;

      @media screen and (max-width: $bp-xs) {
        height: 30rem;
      }
    }

    &--500 {
      height: 50rem;

      @media screen and (max-width: $bp-xs) {
        height: 30rem;
      }
    }

    &:hover .gallery__img {
      filter: grayscale(0);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    pointer-events: none;
  }
}
