.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 20rem;
  grid-auto-flow: dense;
  padding-top: 12rem;

  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;

    &--wide {
      grid-column: span 2;
    }

    &--tall {
      grid-row: span 2;
    }

    &--big {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%);
    cursor: zoom-in;
  }

  &__item {
    &--vid {
      width: 60rem;
      height: 40rem;
      margin-bottom: 2.4rem;
    }

    &__title {
      font-size: 2rem;
      text-align: center;
    }
  }
}
