.greetings {
  height: 10rem;
  margin-bottom: 2.4rem;
  overflow: hidden;
  text-align: center;

  &__list {
    list-style: none;
    transform: translateY(10rem);
  }

  &__item {
    font-family: "Boucherie Block";
    font-size: 10rem;
    line-height: 11rem;
  }
}
