.header {
  padding: 4rem 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $clr-white;
      font-size: 2.4rem;
      font-weight: 700;
      z-index: 2000;
    }
  }
}
