.header {
  padding: 6rem 0;

  &.active {
    & .navigation {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      transform: translateX(0);
    }

    & .btn--navigation__icon {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }
      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    &:link,
    &:visited {
      @include linkReset;
      font-family: "Gilda Display", serif;
      font-size: 3rem;
      flex: 0 0 20%;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-yellow;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 3.6rem;

    // border-radius: 100px;
    // background: linear-gradient($clr-white, $clr-white);
    // background-repeat: no-repeat;
    // background-size: 0%;
    // transition: background-size 0.3s ease;
    // background-position: right;
    // overflow: hidden;
  }
}
