.movie {
  position: relative;

  &__video {
    height: 50rem;
    width: 80rem;

    @media screen and (max-width: $bp-lg) {
      margin-bottom: 3.2rem;
      width: 100%;
    }
  }

  &__caption {
    position: absolute;
    font-size: 3.2rem;

    @media screen and (max-width: $bp-lg) {
      position: static;
    }

    @media screen and (max-width: $bp-sm) {
      font-size: 3rem;
    }

    &--left {
      top: 50%;
      left: -20%;
      transform: translate(-30%, -50%);
      text-align: right;

      @media screen and (max-width: $bp-lg) {
        top: auto;
        left: auto;
        transform: translate(0, 0);
      }

      @media screen and (max-width: $bp-sm) {
        text-align: left;
      }

      &--short {
        left: -10%;
        transform: translate(-10%, -50%);
      }
    }

    &--right {
      top: 50%;
      right: -30%;
      transform: translate(-30%, -50%);

      @media screen and (max-width: $bp-lg) {
        top: auto;
        right: auto;
        transform: translate(0, 0);
      }

      &--short {
        right: -10%;
        transform: translate(-10%, -50%);
      }
    }
  }

  &__category {
    display: block;
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
}
