.navigation {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(20%);
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  &__tab {
    position: relative;
    color: $clr-white;
    background: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120%;
      height: 2px;
      background: linear-gradient($clr-yellow, $clr-yellow);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0% 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 1;
      transition: background-size 0.3s ease;
    }

    &:hover.navigation__tab::before,
    &:active.navigation__tab::before {
      background-size: 100% 2px;
    }

    &--active {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 120%;
        height: 2px;
        background: linear-gradient($clr-yellow, $clr-yellow);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;
        transition: background-size 0.3s ease;
      }
    }
  }
}
