.navigation {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(25%);
  transition: all 0.3s ease;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      @include linkReset;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120%;
      height: 2px;
      background: linear-gradient($clr-yellow, $clr-yellow);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0% 3px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 1;
      transition: background-size 0.3s ease;
    }

    &:hover.navigation__link::before,
    &:active.navigation__link::before {
      background-size: 100% 2px;
    }
  }
}
