.navigation {
  &.active {
    & .navigation__nav {
      transform: translateX(0);
      opacity: 1;
      width: 100%;
      pointer-events: auto;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $clr-white;
    border: none;
    padding: 1.6rem;
    z-index: 2000;
    cursor: pointer;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(0, 0, 0) 0%,
      rgb(64, 64, 64) 90.2%
    );
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $clr-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $clr-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $clr-black;
      transform: translateX(1rem);
    }
  }
}
