.table {
  max-width: 100%;
  border: 1px solid $clr-white;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 8px;
  box-shadow: 0 0 0 1px $clr-white;

  &__data {
    padding: 1.6rem 3.6rem;
    border: 1px solid $clr-white;
    transition: all 0.3s ease;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:hover {
      color: $clr-black;
      background-color: $clr-white;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
