*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

body {
  box-sizing: border-box;
  background-color: $clr-white;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}
