// COLORS
$clr-primary: #1e90ff;
$clr-white: #fff;
$clr-gray: #f2f2f2;
$clr-gray-dark: #dadada;
$clr-charcoal: #333;
$clr-charcoal-light: #5c5c5c;

// BORDERS

$border-outer: 16px;
$border-inner: 12px;
