// COLORS
$clr-primary: #1e90ff;
$clr-primary-100: #f4faff;
$clr-primary-200: #d2e9ff;
$clr-primary-800: #0f4880;
$clr-primary-900: #0c3a66;

$clr-white: #fff;
$clr-gray: #f2f2f2;
$clr-gray-dark: #dadada;
$clr-charcoal: #333;
$clr-charcoal-light: #5c5c5c;

// BORDERS

$border-outer: 16px;
$border-inner: 12px;
