@keyframes bounce {
  0% {
    transform: translateY(-1.6rem);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-1.6rem);
  }

  100% {
    transform: translateY(0);
  }
}
