// COLORS
$clr-black: #0e1111;
$clr-gray: #414a4c;
$clr-white: #f8f9fa;
$clr-yellow: #fab005;
$clr-orange: #fd7e14;
$clr-green: #40c057;

// BREAKPOINTS
$bp-lg: 62em; // 992px
$bp-md: 48em; // 768px
$bp-sm: 37.5em; // 600px
$bp-xs: 28.125em; // 450px
