.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;

  &__brand {
    &:link,
    &:visited {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      text-decoration: none;
      color: $clr-green;
    }

    &:hover,
    &:active {
      color: $clr-green;
    }
  }

  &__menu {
    display: flex;
    gap: 1.2rem;
  }

  &__item {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 600;
      text-decoration: none;
      color: $clr-gray-dark;
      background-image: linear-gradient(to right, $clr-green, $clr-red);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-bottom: 0.4rem;
      transition: background-size 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-green;
      background-size: 100% 2px;
    }
  }
}
