@keyframes pageTransition {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.main {
  animation: pageTransition 0.5s; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

::selection {
  background-color: #191919;
  color: #fff; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0b0b0b; }

header,
main,
footer {
  padding: 0 2rem; }

img,
svg,
picture,
video {
  display: block;
  max-width: 100%; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 46.875em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 38.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff; }

.heading {
  font-weight: 900; }
  .heading--primary {
    font-size: 9rem; }
  .heading--secondary {
    font-size: 4.8rem; }
  .heading--tertiary {
    font-size: 3.6rem; }

.paragraph {
  line-height: 1.6; }
  .paragraph--lg {
    font-size: 3.2rem; }

.u-container {
  max-width: 130rem;
  margin-inline: auto; }

.u-margin-bottom-xs {
  margin-bottom: 1.2rem; }

.u-margin-bottom-sm {
  margin-bottom: 2.4rem; }

.u-margin-bottom-md {
  margin-bottom: 3.6rem; }

.u-margin-bottom-xl {
  margin-bottom: 6.4rem; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-block {
  display: block; }

.footer {
  padding: 12.8rem 2rem 6.4rem; }
  .footer__brand:link, .footer__brand:visited, .footer__brand:hover, .footer__brand:active {
    font-size: 3.2rem;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    display: inline-block; }
  .footer__text {
    margin-bottom: 3.6rem; }
  .footer__nav {
    display: flex;
    justify-content: space-between; }
  .footer__list {
    list-style: none;
    display: flex;
    gap: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    transition: background-size 0.5s ease-out;
    background-position: bottom right;
    background-size: 100% 1px; }
  .footer__link:hover, .footer__link:active {
    background-size: 0% 1px; }

.img__category {
  position: relative; }
  .img__category:hover .img__caption {
    background-color: #0b0b0b; }
  .img__category img {
    height: 45rem;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: filter 0.3s ease; }
    .img__category img:hover {
      filter: brightness(40%); }

.img__caption {
  font-weight: 700;
  font-size: 4.4rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  transition: background-color 0.3s ease; }

.movie {
  position: relative;
  display: inline-block; }
  .movie__video {
    height: 50rem;
    width: 80rem; }
    @media screen and (max-width: 53.125em) {
      .movie__video {
        width: 100%; } }
    @media screen and (max-width: 65.625em) {
      .movie__video {
        margin-bottom: 3.2rem; } }
    .movie__video--full {
      height: 80rem;
      width: 100%; }
  .movie__link:link, .movie__link:visited {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    transition: background-size 0.5s ease-out;
    background-position: bottom left;
    background-size: 0% 1px; }
  .movie__link:hover, .movie__link:active {
    background-size: 100% 1px; }
  .movie__caption {
    position: absolute;
    font-weight: 900;
    font-size: 5.2rem; }
    @media screen and (max-width: 65.625em) {
      .movie__caption {
        position: static;
        font-size: 4.4rem; } }
    .movie__caption--left {
      top: 50%; }
      @media screen and (max-width: 65.625em) {
        .movie__caption--left {
          top: auto; } }
      .movie__caption--left--short {
        left: -10%;
        transform: translate(-10%, -50%); }
        @media screen and (max-width: 65.625em) {
          .movie__caption--left--short {
            left: auto;
            transform: translate(0, 0); } }
      .movie__caption--left--long {
        left: -15%;
        transform: translate(-15%, -50%); }
        @media screen and (max-width: 65.625em) {
          .movie__caption--left--long {
            left: auto;
            transform: translate(0, 0); } }
    .movie__caption--right {
      top: 50%; }
      @media screen and (max-width: 65.625em) {
        .movie__caption--right {
          top: auto; } }
      .movie__caption--right--long {
        right: -135%;
        transform: translate(-135%, -50%); }
        @media screen and (max-width: 65.625em) {
          .movie__caption--right--long {
            right: auto;
            transform: translate(0, 0); } }
      .movie__caption--right--short {
        right: -30%;
        transform: translate(-30%, -50%); }
        @media screen and (max-width: 65.625em) {
          .movie__caption--right--short {
            right: auto;
            transform: translate(0, 0); } }

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem 4rem;
  background-color: #0b0b0b;
  z-index: 1; }
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
  .navigation__link:link, .navigation__link:visited {
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    transition: background-size 0.5s ease-out;
    background-position: bottom left;
    background-size: 0% 1px; }
    @media screen and (max-width: 38.75em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 1.6rem; } }
  .navigation__link:hover, .navigation__link:active {
    background-size: 100% 1px; }
  .navigation__link--active:link, .navigation__link--active:visited, .navigation__link--active:hover, .navigation__link--active:active {
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 1px;
    padding-bottom: 0.5rem; }

.row {
  display: flex; }
  .row--end {
    justify-content: end; }

.section--hero {
  padding-block: 2rem; }

.section--about {
  padding-block: 12.8rem; }
  .section--about__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
    .section--about__content img {
      grid-column: 1 / 4;
      grid-row: 1; }
    .section--about__content h2 {
      grid-column: 3 / -1;
      grid-row: 1; }
    .section--about__content div {
      grid-column: 4 / -1;
      grid-row: 2; }
  .section--about__img {
    height: 80rem;
    width: 50rem; }

.section--contact {
  background-color: #191919;
  padding-block: 12.8rem; }
  .section--contact__link:link, .section--contact__link:visited {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    transition: background-size 0.5s ease-out;
    background-position: bottom right;
    background-size: 100% 1px; }
  .section--contact__link:hover, .section--contact__link:active {
    background-size: 0% 1px; }

.section--content {
  padding-block: 12.8rem; }
  .section--content__container {
    display: flex;
    flex-direction: column;
    gap: 7.2rem; }

.img {
  width: 65%; }
