*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

img,
video,
svg,
picture {
  display: block;
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #495057; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #228be6; }
  .heading--primary {
    font-size: 5.2rem; }
  .heading--secondary {
    font-size: 4rem; }

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem; }

.card {
  background-color: #e7f5ff;
  padding: 2rem;
  border-radius: 10px; }
  .card__title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 2.4rem;
    color: #228be6;
    margin-bottom: 1.6rem; }
  .card__icon {
    font-size: 2rem;
    color: #fff;
    padding: 1.2rem 1.6rem;
    border-radius: 50%;
    background-color: #228be6;
    display: inline-block;
    margin-bottom: 3.6rem; }

.header {
  padding: 4rem 0; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo:link, .header__logo:visited {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #228be6; }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem; }

.grid {
  display: grid; }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.6rem; }
