@keyframes bounce {
  0% {
    transform: translateY(-1.6rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-1.6rem); }
  100% {
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

::selection {
  color: #000;
  background-color: #f08c00; }

body {
  box-sizing: border-box;
  background-color: #000;
  padding: 2rem;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: "Duru Sans", sans-serif;
  font-size: 1.8rem;
  color: #fff; }

.heading {
  font-family: "Gilda Display", serif;
  font-weight: 400; }
  .heading--primary {
    font-size: 5.2rem; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }

.u-text-center {
  text-align: center; }

.u-text-uppercase {
  text-transform: uppercase; }

.btn {
  cursor: pointer; }
  .btn:link, .btn:visited {
    display: inline-flex;
    text-decoration: none; }
  .btn__icon {
    font-size: 2.4rem; }
  .btn--navigation {
    padding: 1.6rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1; }
    .btn--navigation__icon {
      position: relative; }
      .btn--navigation__icon, .btn--navigation__icon::before, .btn--navigation__icon::after {
        width: 2.4rem;
        height: 2px;
        background-color: #000;
        display: inline-block;
        transition: all 0.2s; }
      .btn--navigation__icon {
        top: 1rem;
        background-color: transparent; }
      .btn--navigation__icon::before, .btn--navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .btn--navigation__icon::before {
        top: -0.6rem; }
      .btn--navigation__icon::after {
        top: 0.6rem; }
  .btn--down:link, .btn--down:visited {
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    padding: 1.6rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease;
    animation: bounce infinite 4s ease;
    animation-direction: alternate; }

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__brand:link, .footer__brand:visited {
  text-decoration: none;
  color: #fff;
  font-family: "Gilda Display", serif;
  font-size: 3rem;
  flex: 0 0 20%;
  transition: color 0.3s ease; }

.footer__brand:hover, .footer__brand:active {
  color: #f08c00; }

.footer__list {
  list-style: none;
  display: flex;
  gap: 2.4rem; }

.footer__item {
  padding: 0.4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer__link:link, .footer__link:visited {
  display: inline-block;
  color: #000; }

.header {
  padding: 6rem 0; }
  .header.active .navigation {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0); }
  .header.active .btn--navigation__icon {
    background-color: transparent; }
    .header.active .btn--navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .header.active .btn--navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__brand:link, .header__brand:visited {
    text-decoration: none;
    color: #fff;
    font-family: "Gilda Display", serif;
    font-size: 3rem;
    flex: 0 0 20%;
    transition: color 0.3s ease; }
  .header__brand:hover, .header__brand:active {
    color: #f08c00; }
  .header__nav {
    display: flex;
    align-items: center;
    gap: 3.6rem; }

.navigation {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.3s ease; }
  .navigation__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem; }
  .navigation__link:link, .navigation__link:visited {
    position: relative;
    text-decoration: none;
    color: #fff; }
  .navigation__link::before {
    content: "";
    position: absolute;
    display: block;
    width: 120%;
    height: 3px;
    background: linear-gradient(#f08c00, #f08c00);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    transition: background-size 0.3s ease; }
  .navigation__link:hover.navigation__link::before, .navigation__link:active.navigation__link::before {
    background-size: 100% 3px; }

.section--full {
  min-height: 100vh; }
