.movie {
  position: relative;
  display: inline-block;

  &__video {
    height: 50rem;
    width: 80rem;

    &--full {
      height: 80rem;
      width: 100%;
    }
  }

  &__link {
    &:link,
    &:visited {
      @include linkReset;
      @include linkBaseStyle;
      background-position: bottom left;
      background-size: 0% 1px;
    }

    &:hover,
    &:active {
      background-size: 100% 1px;
    }
  }

  &__caption {
    position: absolute;
    font-weight: 900;
    font-size: 5.2rem;

    &--left {
      top: 50%;

      &--short {
        left: -10%;
        transform: translate(-10%, -50%);
      }

      &--long {
        left: -15%;
        transform: translate(-15%, -50%);
      }
    }

    &--right {
      top: 50%;

      &--long {
        right: -150%;
        transform: translate(-150%, -50%);
      }

      &--short {
        right: -30%;
        transform: translate(-30%, -50%);
      }
    }
  }
}
